* {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Source Code Pro', serif;
}
body{
    background-color: #f7f7f7;
    padding:50px 250px 90px 250px;
}
textarea {
    background: transparent;
    height: 190px;
    resize: none;
}
/*style for the instruction text*/
.text-instructions{
    margin-left: 15px;
}

.output-screen {
    background: black;
    color: green;
    height: 170px;
    font-weight: bold;
}
.output-screen {
    padding-left: 5px;
}
.editor {
    display: inline-block;
    background: midnightblue;
    color:white;
    padding:5px;
    min-height: 130px;
    overflow: hidden;
    resize: inherit;
}
.code-editor-wrap{

    padding: 15px;
    margin:15px;
}
.code-editor{
    margin-right: 2%;
    display: inline-block;
}

.content{
    box-shadow: 3px 3px 13px #e0e0e0;
    background-color: white;
    width:80%;
    padding: 5%;
    display: block;
    align-items: center;
    justify-content: center;
}
.btn-trans {
    background:none;
    box-shadow:none;
}

#btn-hint{
    color: #4271ff;
    font-weight: bold;
}